@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #2c2c3a;
  color: #333333;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

.slide-panel-enter {
  transform: translateX(100%);
}
.slide-panel-active {
  transform: translateX(0);
  transition: transform 300ms ease-out;
}
